body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://www.publicdomainpictures.net/pictures/290000/nahled/bandon-beach-at-sunset.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  width: 100vw;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid yellow;
  max-width: 50vw;
  padding: 20px;
}